<p id="notice"><%= notice %></p>
<% if user_signed_in? %>
<p>
  <strong>Author:</strong>
   <%= @post.user.name %>
</p>
<% end %>
<p>
  <strong>Post:</strong>
  <%= @post.post %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
